<!DOCTYPE html>
<html>

<head>

    <title>Order Success</title>

    <link
        rel="stylesheet"
        href="{{ url_for(
            'static',
            filename='css/style.css'
        ) }}"
    >

</head>

<body>

<div class="main-container">

    <div class="success-card">

        <h1>

            🎉 Order Placed Successfully!

        </h1>

        <p>

            Thank you for shopping with ShopSmart.

        </p>

        <a href="/" class="home-btn">

            Continue Shopping

        </a>

        <a href="/orders" class="home-btn">

            View My Orders

        </a>

    </div>

</div>

</body>

</html>